body {
    text-align: center;
    background-color: #e0f7fa;
}

h1, h3 {
    text-align: center;
}

.card-body {
    display: flex;
    align-items: center;
    border: 1px solid #ddd; 
    padding: 20px;
}


.form-group {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.form-group label {
    width: 30%;
}

select, input {
    width: 70%;
}

img {
    display: block;
    margin: auto; 
    max-width: 100%;
    height: auto;
}